<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Roblox School App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-card class="WelcomeCard">
<ion-card-content>
  <ion-tab-button tab="courses">
    
    
  

  <img src="/assets/Learn.jpg"/>
  <h1 class="center"><b>Learn</b></h1>
</ion-tab-button>
</ion-card-content>

</ion-card>
<hr class="line"/>
<ion-card class="WelcomeCard">
  <ion-card-content>
    <img src="/assets/Learn.jpg"/>
    <h1 class="center"><b>Challenges</b></h1>
  </ion-card-content>
  
  </ion-card>
  <hr class="line"/>
  <ion-card class="WelcomeCard">
    <ion-card-content>
      <img src="/assets/Learn.jpg"/>
      <h1 class="center"><b>Gift Shop</b></h1>
    </ion-card-content>
    
    </ion-card>
    <hr class="line"/>

</ion-content>

